.prose {
  margin: 0 !important;
}
.docs h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}
.docs h1 {
  margin-bottom: 24px;
}
.docs pre {
  padding: 0 !important;
  width: inherit !important;
  overflow-x: auto;
}

.docs pre > code {
  display: grid;
  max-width: inherit !important;
  padding: 14px 0 !important;
  background-color: hsl(var(--accent));
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-x: scroll;
}

.code-line {
  padding: 0.75px 12.5px;
  font-size: 14px;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  margin-right: 22px;
  margin-left: -2px;
  color: rgb(110, 110, 110);
  content: attr(line);
  font-size: 13.5px;
  text-align: right;
}

.highlight-line {
  @apply dark:bg-neutral-800/90;
  @apply bg-neutral-200/90;
}

.punctuation {
  color: gray;
}

.comment {
  color: gray;
}

/* Light Mode */
.keyword {
  color: #e53e3e;
  /* Red */
}

.function {
  color: #c53030;
  /* Darker Red */
}

.punctuation {
  color: #718096;
  /* Light Gray */
}

.comment {
  color: #a0aec0;
  /* Gray */
}

.string,
.constant,
.annotation,
.boolean,
.number {
  color: #f56565;
  /* Soft Red */
}

.tag {
  color: #fc8181;
  /* Light Red */
}

.attr-name {
  color: #e53e3e;
  /* Red */
}

.attr-value {
  color: #f6ad55;
  /* Soft Orange */
}

/* Dark Mode */
.dark .keyword {
  color: #fc8181;
  /* Light Red */
}

.dark .function {
  color: #e53e3e;
  /* Red */
}

.dark .string,
.dark .constant,
.dark .annotation,
.dark .boolean,
.dark .number {
  color: #f56565;
  /* Soft Red */
}

.dark .tag {
  color: #fbb6ce;
  /* Soft Pink */
}

.dark .attr-name {
  color: #e53e3e;
  /* Red */
}

.dark .attr-value {
  color: #f6ad55;
  /* Soft Orange */
}

.rehype-code-title {
  @apply px-2;
  @apply -mb-8;
  @apply w-full;
  @apply text-sm;
  @apply pt-1;
  @apply pb-5;
  @apply font-normal;
  @apply tracking-wider;
  @apply font-medium;
  font-family: var(--font-code) !important;
}

.highlight-comp > code {
  background-color: transparent !important;
}
